/* common shared style */
body{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    font-weight: bold;
    background-color: #FD6E0A;
    color: #FFFFFF;
    border: 0;
    font-size: 20px;
    padding: 19px 40px;
}
  
/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;

}
.nav-title{
color:#181818;
font-size: 45px;
font-weight: extrabold;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav li {
list-style: none;
    margin: 50px;
}
nav a{
    text-decoration: none;
    color: #474747
}
